# <center> Bài tập Thực hành môn Khai phá Dữ liệu </center>

### **Họ và tên:** Huỳnh Nguyễn Thế Dân
### **MSSV:** 21110256
### **Lớp:** 21TTH1

##  1.  Cài đặt thuật toán Apriori

In [5]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder


PATH = "data.csv"

# Load dataset
df =pd.read_csv(PATH)
display(df)

    Wine  Chips  Bread  Butter  Milk  Apple
0   Wine  Chips  Bread  Butter  Milk  Apple
1   Wine    NaN  Bread  Butter  Milk    NaN
2    NaN    NaN  Bread  Butter  Milk    NaN
3    NaN  Chips    NaN     NaN   NaN  Apple
4   Wine  Chips  Bread  Butter  Milk  Apple
5   Wine  Chips    NaN     NaN  Milk    NaN
6   Wine  Chips  Bread  Butter   NaN  Apple
7   Wine  Chips    NaN     NaN  Milk    NaN
8   Wine    NaN  Bread     NaN   NaN  Apple
9   Wine    NaN  Bread  Butter  Milk    NaN
10   NaN  Chips  Bread  Butter   NaN  Apple
11  Wine    NaN    NaN  Butter  Milk  Apple
12  Wine  Chips  Bread  Butter  Milk    NaN
13  Wine    NaN  Bread     NaN  Milk  Apple
14  Wine    NaN  Bread  Butter  Milk  Apple
15  Wine  Chips  Bread  Butter  Milk  Apple
16   NaN  Chips  Bread  Butter  Milk  Apple
17   NaN  Chips    NaN  Butter  Milk  Apple
18  Wine  Chips  Bread  Butter  Milk  Apple
19  Wine    NaN  Bread  Butter  Milk  Apple
20  Wine  Chips  Bread     NaN  Milk  Apple
21   NaN  Chips    NaN     NaN   NaN    NaN

In [18]:
# Convert data frame to list
records = []
for i in range(0, df.shape[0]):
    records.append([str(df.values[i,j]) for j in range(0, df.shape[1])])

In [19]:
records

[['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'nan', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'],
 ['nan', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'],
 ['Wine', 'nan', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'nan'],
 ['Wine', 'nan', 'Bread', 'nan', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple'],
 ['nan', 'Chips', 'nan', 'nan', 'nan', 'nan']]

In [20]:
# Convert records to transaction
te = TransactionEncoder()
te_ary = te.fit(records).transform(records)
dfl = pd.DataFrame(te_ary, columns=te.columns_)

display(dfl)

    Apple  Bread  Butter  Chips   Milk   Wine    nan
0    True   True    True   True   True   True  False
1   False   True    True  False   True   True   True
2   False   True    True  False   True  False   True
3    True  False   False   True  False  False   True
4    True   True    True   True   True   True  False
5   False  False   False   True   True   True   True
6    True   True    True   True  False   True   True
7   False  False   False   True   True   True   True
8    True   True   False  False  False   True   True
9   False   True    True  False   True   True   True
10   True   True    True   True  False  False   True
11   True  False    True  False   True   True   True
12  False   True    True   True   True   True   True
13   True   True   False  False   True   True   True
14   True   True    True  False   True   True   True
15   True   True    True   True   True   True  False
16   True   True    True   True   True  False   True
17   True  False    True   True   True  False   True
18   True   True    True   True   True   True  False
19   True   True    True  False   True   True   True
20   True   True   False   True   True   True   True
21  False  False   False   True  False  False   True

In [21]:
frequent_itemsets = apriori(dfl, min_support=0.6, use_colnames=True)
display(frequent_itemsets)

    support      itemsets
0  0.681818       (Apple)
1  0.727273       (Bread)
2  0.681818      (Butter)
3  0.636364       (Chips)
4  0.772727        (Milk)
5  0.727273        (Wine)
6  0.818182         (nan)
7  0.636364  (Milk, Wine)

In [22]:
# Build association rules using support metric
rules = association_rules(frequent_itemsets, metric = 'support', support_only=True, min_threshold=0.1)

rule = rules[['antecedents', 'consequents', 'support']]
display(rule)

  antecedents consequents   support
0      (Milk)      (Wine)  0.636364
1      (Wine)      (Milk)  0.636364

##  2.  Cài đặt lại thuật toán Apritori

In [66]:
class MyTransactionEncoder:
    def __init__(self):
        self.unique_items = set()
        self.column_names = []  # Lưu trữ tên của các cột
        
    def fit(self, transactions):
        for transaction in transactions:
            for item in transaction:
                self.unique_items.add(item)
        self.unique_items = sorted(self.unique_items)
        self.column_names = self.unique_items  # Lưu tên cột dưới dạng các mặt hàng được sắp xếp
        return self
        
    def transform(self, transactions):
        item_index = {item: idx for idx, item in enumerate(self.unique_items)}
        transaction_matrix = []
        for transaction in transactions:
            row = [False] * len(self.unique_items)
            for item in transaction:
                if item in item_index:
                    row[item_index[item]] = True
            transaction_matrix.append(row)
        return transaction_matrix
        
    def fit_transform(self, transactions):
        self.fit(transactions)
        return self.transform(transactions)
    
    def get_feature_names(self):
        """ Trả về danh sách các tên cột, tương ứng với các mặt hàng duy nhất """
        return self.column_names

In [67]:
myrecords = records.copy()

encoder = MyTransactionEncoder()
myEncodeArray = encoder.fit_transform(myrecords)

mydfl = pd.DataFrame(myEncodeArray, columns=encoder.get_feature_names())

display(mydfl)

    Apple  Bread  Butter  Chips   Milk   Wine    nan
0    True   True    True   True   True   True  False
1   False   True    True  False   True   True   True
2   False   True    True  False   True  False   True
3    True  False   False   True  False  False   True
4    True   True    True   True   True   True  False
5   False  False   False   True   True   True   True
6    True   True    True   True  False   True   True
7   False  False   False   True   True   True   True
8    True   True   False  False  False   True   True
9   False   True    True  False   True   True   True
10   True   True    True   True  False  False   True
11   True  False    True  False   True   True   True
12  False   True    True   True   True   True   True
13   True   True   False  False   True   True   True
14   True   True    True  False   True   True   True
15   True   True    True   True   True   True  False
16   True   True    True   True   True  False   True
17   True  False    True   True   True  False   True
18   True   True    True   True   True   True  False
19   True   True    True  False   True   True   True
20   True   True   False   True   True   True   True
21  False  False   False   True  False  False   True

In [60]:
def MyApriori(transactions, min_support_ratio):
    import itertools
    
    # Bước 1: Tính tần số xuất hiện của từng mục trong tất cả giao dịch
    item_counts = {}
    for transaction in transactions:
        for item in transaction:
            if item in item_counts:
                item_counts[item] += 1
            else:
                item_counts[item] = 1  
    display(item_counts)     
    num_transactions = len(transactions)         
    min_support_count = int(min_support_ratio * num_transactions)
    
    # Lọc ra những mục có độ hỗ trợ đủ lớn
    items = {item for item, count in item_counts.items() if count >= min_support_count}
    
    # Tạo tập hợp thường xuyên cho từng kích thước từ 1
    freq_sets = []
    current_sets = [{item} for item in items]
    while current_sets:
        # Tạo tập hợp ứng viên mới từ các tập hiện tại
        candidate_sets = [x.union(y) for x in current_sets for y in current_sets if len(x.union(y)) == len(x) + 1]
        candidate_sets = list(set(map(frozenset, candidate_sets)))  # Loại bỏ trùng lặp
        
        # Tính hỗ trợ cho mỗi tập ứng viên
        valid_sets = []
        candidate_counts = {cand: 0 for cand in candidate_sets}
        for transaction in transactions:
            transaction_set = set(transaction)
            for candidate in candidate_sets:
                if candidate.issubset(transaction_set):
                    candidate_counts[candidate] += 1
        
        # Lọc ra những tập có hỗ trợ đủ lớn
        for candidate, count in candidate_counts.items():
            if count >= min_support:
                valid_sets.append(candidate)
        
        freq_sets.extend(valid_sets)
        current_sets = valid_sets
    
    return freq_sets

# Ví dụ sử dụng
min_support_ratio = 0.6
display(MyApriori(myrecords, min_support_ratio))

{'Wine': 16,
 'Chips': 14,
 'Bread': 16,
 'Butter': 15,
 'Milk': 17,
 'Apple': 15,
 'nan': 39}

[frozenset({'Chips', 'nan'}),
 frozenset({'Butter', 'nan'}),
 frozenset({'Chips', 'Milk'}),
 frozenset({'Butter', 'Wine'}),
 frozenset({'Apple', 'Butter'}),
 frozenset({'Bread', 'nan'}),
 frozenset({'Chips', 'Wine'}),
 frozenset({'Butter', 'Milk'}),
 frozenset({'Milk', 'nan'}),
 frozenset({'Milk', 'Wine'}),
 frozenset({'Butter', 'Chips'}),
 frozenset({'Bread', 'Chips'}),
 frozenset({'Bread', 'Wine'}),
 frozenset({'Apple', 'nan'}),
 frozenset({'Bread', 'Butter'}),
 frozenset({'Apple', 'Milk'}),
 frozenset({'Bread', 'Milk'}),
 frozenset({'Apple', 'Wine'}),
 frozenset({'Apple', 'Chips'}),
 frozenset({'Wine', 'nan'}),
 frozenset({'Apple', 'Bread'}),
 frozenset({'Apple', 'Butter', 'Milk'}),
 frozenset({'Butter', 'Chips', 'nan'}),
 frozenset({'Bread', 'Milk', 'nan'}),
 frozenset({'Bread', 'Chips', 'Milk'}),
 frozenset({'Bread', 'Butter', 'Wine'}),
 frozenset({'Apple', 'Chips', 'Wine'}),
 frozenset({'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips'}),
 frozenset({'Apple', 'Wine', 'nan'}),
 frozenset({'Apple', 'Butter', 'Wine'}),
 frozenset({'Apple', 'Chips', 'Milk'}),
 frozenset({'Bread', 'Butter', 'nan'}),
 frozenset({'Bread', 'Wine', 'nan'}),
 frozenset({'Bread', 'Chips', 'Wine'}),
 frozenset({'Bread', 'Butter', 'Milk'}),
 frozenset({'Apple', 'Milk', 'nan'}),
 frozenset({'Butter', 'Milk', 'Wine'}),
 frozenset({'Apple', 'Chips', 'nan'}),
 frozenset({'Bread', 'Milk', 'Wine'}),
 frozenset({'Butter', 'Wine', 'nan'}),
 frozenset({'Chips', 'Milk', 'nan'}),
 frozenset({'Bread', 'Butter', 'Chips'}),
 frozenset({'Apple', 'Butter', 'nan'}),
 frozenset({'Apple', 'Bread', 'Wine'}),
 frozenset({'Butter', 'Chips', 'Milk'}),
 frozenset({'Chips', 'Milk', 'Wine'}),
 frozenset({'Apple', 'Bread', 'nan'}),
 frozenset({'Butter', 'Chips', 'Wine'}),
 frozenset({'Bread', 'Chips', 'nan'}),
 frozenset({'Apple', 'Butter', 'Chips'}),
 frozenset({'Apple', 'Milk', 'Wine'}),
 frozenset({'Chips', 'Wine', 'nan'}),
 frozenset({'Butter', 'Milk', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter'}),
 frozenset({'Apple', 'Bread', 'Milk'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Chips'}),
 frozenset({'Chips', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Milk', 'nan'}),
 frozenset({'Bread', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Butter', 'Milk', 'Wine'}),
 frozenset({'Bread', 'Butter', 'Chips', 'nan'}),
 frozenset({'Apple', 'Bread', 'Wine', 'nan'}),
 frozenset({'Butter', 'Chips', 'Milk', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips', 'Milk'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Wine'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Milk'}),
 frozenset({'Apple', 'Bread', 'Butter', 'nan'}),
 frozenset({'Butter', 'Chips', 'Milk', 'Wine'}),
 frozenset({'Bread', 'Chips', 'Milk', 'Wine'}),
 frozenset({'Apple', 'Butter', 'Milk', 'nan'}),
 frozenset({'Bread', 'Butter', 'Chips', 'Wine'}),
 frozenset({'Apple', 'Butter', 'Chips', 'nan'}),
 frozenset({'Bread', 'Butter', 'Milk', 'Wine'}),
 frozenset({'Apple', 'Chips', 'Wine', 'nan'}),
 frozenset({'Apple', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips', 'nan'}),
 frozenset({'Apple', 'Butter', 'Chips', 'Milk'}),
 frozenset({'Bread', 'Chips', 'Milk', 'nan'}),
 frozenset({'Bread', 'Butter', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips', 'Wine'}),
 frozenset({'Bread', 'Butter', 'Chips', 'Milk'}),
 frozenset({'Apple', 'Butter', 'Wine', 'nan'}),
 frozenset({'Apple', 'Chips', 'Milk', 'nan'}),
 frozenset({'Bread', 'Butter', 'Milk', 'nan'}),
 frozenset({'Apple', 'Butter', 'Chips', 'Wine'}),
 frozenset({'Apple', 'Chips', 'Milk', 'Wine'}),
 frozenset({'Bread', 'Chips', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Milk', 'Wine'}),
 frozenset({'Butter', 'Chips', 'Wine', 'nan'}),
 frozenset({'Butter', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips', 'Milk', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Chips', 'nan'}),
 frozenset({'Apple', 'Bread', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Wine', 'nan'}),
 frozenset({'Apple', 'Butter', 'Chips', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Milk', 'Wine'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Chips', 'Milk'}),
 frozenset({'Butter', 'Chips', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips', 'Milk', 'Wine'}),
 frozenset({'Bread', 'Butter', 'Chips', 'Milk', 'nan'}),
 frozenset({'Bread', 'Butter', 'Chips', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Chips', 'Wine'}),
 frozenset({'Bread', 'Butter', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Butter', 'Chips', 'Milk', 'nan'}),
 frozenset({'Apple', 'Chips', 'Milk', 'Wine', 'nan'}),
 frozenset({'Bread', 'Butter', 'Chips', 'Milk', 'Wine'}),
 frozenset({'Bread', 'Chips', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Butter', 'Chips', 'Milk', 'Wine'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Milk', 'nan'}),
 frozenset({'Apple', 'Butter', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips', 'Wine', 'nan'}),
 frozenset({'Bread', 'Butter', 'Chips', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Chips', 'Milk', 'Wine'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Chips', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Milk', 'Wine', 'nan'}),
 frozenset({'Apple', 'Bread', 'Butter', 'Chips', 'Milk', 'nan'}),
 frozenset({'Apple', 'Bread', 'Chips', 'Milk', 'Wine', 'nan'})]